.hidden_y {
    overflow-y: hidden;
}

.editcls {
    text-decoration: none;
    margin: 0 5px;
}

.rightAlign {
    text-align: right;
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    align: center;
    text-align: center;
}

.gainsboroBack {
    background-color: gainsboro;
}

.red {
    color: red;
}