<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 公共的mybatis参数配置 涉及分页 -->
<mapper namespace="common">
    <sql id="mysql_head">
        <if test="startSize != -1 and pageSize != 0">
            <![CDATA[ SELECT A.* FROM ( ]]>
        </if>
    </sql>
    <sql id="mysql_end">
        <if test="sort!=null and sort!='' and order!=null and order!=''">
            order by ${sort} ${order}
        </if>
        <if test="startSize != -1 and pageSize != 0">
            <![CDATA[ ) A LIMIT #{startSize},#{pageSize} ]]>
        </if>
    </sql>

    <sql id="mysql_head_table">
        <if test="start != -1 and length != 0">
            <![CDATA[ SELECT A.* FROM ( ]]>
        </if>
    </sql>
    <sql id="mysql_end_table">
        <if test="sort != null and sort != '' ">
            order by ${sort}
        </if>
        <if test="start != -1 and length != 0">
            <![CDATA[ ) A LIMIT #{start},#{length} ]]>
        </if>
    </sql>

    <!-- 分页语句前部 -->
    <sql id="Oracle_Pagination_Head">
        <if test="startSize != null and rp != null">
            <![CDATA[ select A.* from ( select B.*, rownum as oracleStart from ( ]]>
        </if>
    </sql>
    <!-- 分页语句后部 -->
    <sql id="Oracle_Pagination_Tail">
        <if test="startSize != null and rp != null">
            <![CDATA[ ) B where rownum <= #{endSize} ) A where A.oracleStart > #{startSize} ]]>
        </if>
    </sql>

    <!-- 用于下拉列表的数据加载分页条件 -->
    <sql id="Oracle_Page_Head">
        <if test="pageStart != null and rows != null and rows != -1000">
            <![CDATA[ select A.* from ( select B.*, rownum as page from ( ]]>
        </if>
    </sql>
    <!-- 分页语句后部 -->
    <sql id="Oracle_Page_Tail">
        <if test="sort!=null and sort!='' and order!=null and order!=''">
            order by ${sort} ${order}
        </if>
        <if test="pageStart != null and rows != null and rows != -1000">
            <![CDATA[ ) B where rownum <= #{pageEnd} ) A where A.page > #{pageStart} ]]>
        </if>
    </sql>
    <!-- 分页语句后部 -->
    <sql id="Oracle_Page_Stutas_Tail">
        <if test="pageStart != null and rows != null">
            <![CDATA[ ) B where rownum <= #{pageEnd} ) A where A.page > #{pageStart} ]]>
        </if>
    </sql>
    <!-- 导出语句后部 -->
    <sql id="Oracle_Export_Tail">
        <if test="sort!=null and sort!='' and order!=null and order!=''">
            order by ${sort} ${order}
        </if>
    </sql>
</mapper>